.Wrapper {
display: flex;
}
.Wrapper .NavCon,
.Wrapper .Left,
.Wrapper .Right
 {
  height: 100vh;
  }
.Wrapper .NavCon{
    width: 3%;
    background-color: black;
}
.Wrapper .Left{
  width: 17%;
  background-color: red;
}
.Wrapper .Right{
  width: 80%;
}


